/* You can add global styles to this file, and also import other style files */
@import 'assets/bootstrap.css';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~ngx-toastr/toastr-bs4-alert';

:root {
  --blue: #004b8d;
}

ngb-pagination {
  & .pagination {
    margin-bottom: 0;
  }
}

.content-header {
  border-bottom: 1px solid var(--light);
  margin-bottom: 15px;
}

.ng-invalid:not(form) {
  border-left: 2px solid var(--danger); /* red */
}

.ng-valid:not(form) {
  border-left: 2px solid var(--success); /* red */
}
